.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #fff;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header-left {
  display: flex;
  justify-content: space-evenly;
}

.header-input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 50px;
}

.header-left > img {
  height: 40px;
}

.header-input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header-center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header-option > .icon {
  color: gray;
}

.header-option > .icon:hover {
  color: #2e81f4;
}

.header-option-active {
  color: #2e81f4;
  border-bottom: 4px solid #2e81f4;
}

.header-option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header-option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-info > h4 {
  margin-left: 10px;
}

.header-right > .icon {
  margin: 3px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  background: #eee;
  /* border: 1px solid; */
}

.header-right > .icon:hover {
  background-color: #ddd;
}

.header-right {
  display: flex;
  align-items: center;
}
