.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > button {
  padding: 10px;
  border: none;
  background-color: #2e81f4;
  width: 300px;
  color: #eff2f5;
  font-weight: 800;
  cursor: pointer;
}

.login > button:hover {
  background-color: #fff;
  color: #2e81f4;
}

.login > div > img {
  object-fit: contain;
  height: 100px;
  width: 150px;
}

.login > div {
  display: flex;
  flex-direction: column;
}
